.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.signupForm {
    display: grid;
    gap: var(--xs-spacing);
}

.signupForm h1 {
    font-size: var(--header-md);
}

@media screen and (min-width: 768px) {
    .signupForm h1 {
        font-size: var(--header-lg);
    }
}