.textArea {
  width: calc(100% - var(--lg-spacing));
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  margin: var(--xs-spacing);
}

.container {
  padding: var(--xs-spacing);
}

.typingIndicator {
  display: block;
  position: fixed;
  bottom: var(--xs-spacing);
  right: var(--lg-spacing);
  opacity: 0.4;
}