.toolBar {
  background: var(--tint);
  box-sizing: border-box;
  display: flex;
  padding: var(--xs-spacing);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: inherit;
  line-height: var(--xxs-spacing);
}

.buttonGroup {
  position: fixed;
  top: 82px;
  left: var(--sm-spacing);
  right: var(--xs-spacing);
  background: var(--menu-background);
  padding: var(--xs-spacing);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  margin: 0 auto;
  margin-top: var(--xs-spacing);
  width: calc(100vw - var(--md-spacing));
}

.menuItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.menuItems .tooltip a {
  width: 100%;
}

.menuItems .button {
  width: 100%;
  gap: var(--xxs-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMenuButton button {
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
}

.showMenuButton button:hover,
.showMenuButton button:focus {
  background-color: transparent;
  border-color: transparent;
}

/* show menu button only on mobile devices */
@media screen and (min-width: 768px) {

  .toolBar {
    justify-content: flex-start;

  }

  .showMenuButton {
    display: none;
    align-self: center;
    font-size: 2rem;
  }


  .buttonGroup {
    top: unset;
    display: flex;
    gap: 0.5rem;
    position: relative;
    width: unset;
    background-color: transparent;
    padding: 0;
    margin: auto;
    margin-right: 0;
    margin-top: auto;
    border-radius: 0;
  }

  .menuItems {
    flex-direction: row;
  }

}