.registerSuccessContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.registerSuccess {
    min-width: 50vw;
}

.registerSuccess h1 {
    font-size: var(--header-md);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .registerSuccess h1 {
        font-size: var(--header-lg);
    }
}