.minimizer {
    position: fixed;
    display: block;
    right: var(--xs-spacing);
    bottom: var(--xxs-spacing);
    font-size: 1.5rem;
}

.minimizer:hover {
    cursor: pointer;
}

.arrow {
    color: var(--purple);
}