.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loginForm {
    display: grid;
    gap: var(--xs-spacing);
}

.loginForm h1 {
    font-size: var(--header-md);
}

@media screen and (min-width: 768px) {
    .loginForm h1 {
        font-size: var(--header-lg);
    }
}