.tooltip {
    display: flex;
    box-sizing: border-box;
}

.tooltipText {
    position: fixed;
    background-color: #444;
    color: white;
    font-size: 90%;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    width: max-content;
    z-index: 100;
    display: none;
}

@media screen and (min-width: 768px) {
    .tooltipText {
        display: block;
    }
}