:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --tint: rgba(0, 0, 0, 0.1);
  --tint-dark: rgba(0, 0, 0, 0.2);
  --light-gray: #d4d4d4;
  --dark-gray: #a1a1a1;
  --purple: #646cff;
  --very-dark: #000028;

  --xxs-spacing: 0.5rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --md-spacing: 2rem;
  --lg-spacing: 2.5rem;
}

a {
  font-weight: 500;
  color: var(--purple);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}